
@{
    ViewBag.Title = "BadRequest";
}

@model Know_the_Facts.Models.Crud


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Quick Facts", "Home", "Cruds", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Cruds")</li>
                <li>@Html.ActionLink("Add a Fact", "Create", "Cruds")</li>
                <li>@Html.ActionLink("View my Facts", "MyData", "Cruds")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Cruds")</li>
                <li>@Html.ActionLink("Admin Manage", "Adminmanage", "Cruds")</li>
            </ul>
            <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name.Split('\\')[1].ToUpper() !</p>
        </div>
    </div>
</div>
<style>
    /*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_draggable*/

    #mydiv {
        position: absolute;
        z-index: 9;
        background-color: transparent;
        text-align: center;
        border: 1px solid #d3d3d3;
    }

    #mydivheader {
        padding: 10px;
        cursor: move;
        z-index: 10;
        background-color: transparent;
        color: #fff;
    }
</style>

@*
    <div id="mydiv">
        <div id="mydivheader"><button style="background-color:transparent; border:none;">@Html.ActionLink("Have a Fact Add here..", "Create", "Cruds") </button></div>
    </div>

    <script>
    //Make the DIV element draggagle:
    dragElement(document.getElementById(("mydiv")));

    function dragElement(elmnt) {
      var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
      if (document.getElementById(elmnt.id + "header")) {
        /* if present, the header is where you move the DIV from:*/
        document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
      } else {
        /* otherwise, move the DIV from anywhere inside the DIV:*/
        elmnt.onmousedown = dragMouseDown;
      }

      function dragMouseDown(e) {
        e = e || window.event;
        // get the mouse cursor position at startup:
        pos3 = e.clientX;
        pos4 = e.clientY;
        document.onmouseup = closeDragElement;
        // call a function whenever the cursor moves:
        document.onmousemove = elementDrag;
      }

      function elementDrag(e) {
        e = e || window.event;
        // calculate the new cursor position:
        pos1 = pos3 - e.clientX;
        pos2 = pos4 - e.clientY;
        pos3 = e.clientX;
        pos4 = e.clientY;
        // set the element's new position:
        elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
        elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
      }

      function closeDragElement() {
        /* stop moving when mouse button is released:*/
        document.onmouseup = null;
        document.onmousemove = null;
      }
    }
    </script>
*@

<h2>Bad Request</h2>
<br />
<p style="color:red">Error 400</p>
<p>For further queries :</p>
<br />
<address>
    <strong>Mail:</strong>   <a href="mailto:Knowthefact@here.com">Knowthefact@here.com</a><br />
<br />
</address>


