@helper HelperName(string name) {
    // your helper can contain code and/or markup, e.g.
    // var msg = "Hello " + name;
    // <p>@msg</p>
    // For more information, visit http://go.microsoft.com/fwlink/?LinkID=204658
}

@{
    ViewBag.Title = "Restricted Access";
}


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Quick Facts", "Home", "Cruds", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Cruds")</li>
                <li>@Html.ActionLink("Add a Fact", "Create", "Cruds")</li>
                <li>@Html.ActionLink("View my Facts", "MyData", "Cruds")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Admin Manage", "Adminmanage", "Cruds")</li>
            </ul>
            <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name.Split('\\')[1].ToUpper() !</p>
        </div>
    </div>
</div>

<p>Restricted Access Attempted...</p>
